
.appBar {
  box-shadow: 0 5px 5px #dbe4d1;
  font-size: 32px;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  /* background-color: #dbe4d1; */
}
.main {
  background-color: rgb(243, 253, 232);
}